<div class="tracks-container">
  <div class="tracks-title">Tracks</div>

  <div class="left-panel">
    <div
      class="track-title"
      [class.selected]="track.selected"
      *ngFor="let track of tracks; index as i"
      (click)="select(track)"
    >
      <div>
        <span>Track {{ i + 1 }}</span>
        <div class="controls-row" *ngIf="track.audio">
          <div
            *ngIf="track.audio.paused"
            class="play-btn"
            (click)="$event.stopPropagation(); track.audio.play()"
          ></div>
          <div
            *ngIf="!track.audio.paused"
            class="pause-btn"
            (click)="$event.stopPropagation(); track.audio.pause()"
          ></div>
        </div>
      </div>
    </div>

    <div class="track-title new-track" (click)="addNewTrack()">
      <div>+</div>
      <span>Add New Track</span>
    </div>
  </div>

  <div class="right-panel">
    <div
      class="track"
      [class.selected]="track.selected"
      *ngFor="let track of tracks"
    >
      <div
        *ngIf="track.audio"
        class="audio-track"
        [ngStyle]="{
          width: track.audio.duration * 30 + 'px'
        }"
      ></div>
    </div>
  </div>
</div>
